.item{
    width: 700px;
    height: 220px;
    margin-left: 5vw !important;
    padding-left: 10px;
    margin-bottom: 8vh;
    border-radius: 5px;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.5);
}
.item:hover{
    transform: scale(1.1);
    transition: all 3ms;
    cursor: pointer;
}

.itemImg{
    background-image: url('../components/products-bg.jpg');
    height:200px;
    background-size: cover;
    border-radius: 5px;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.5);
    margin-top: 10px !important;
}

h3{
    color: #000 !important;
font-family: Outfit;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-top:5px !important;
}
