.navBar{
    height: 10vh;
    color:aliceblue;
    font-weight:700;
    padding-top: 20px;
    font-size:x-large;
}
#navBrand{
    margin-left:20vw;
    margin-right: 40vw;
}
.btn{
    border-radius: 20px !important;
    padding-left: 30px !important;
    padding-right: 30px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    background-color: red !important;
    border: none !important;
}
