div.home{
    height:70vh;
    width:70vw;
    margin-top:10vh;
    margin-left: 15vw;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    padding:8px;
}
#login{
    color: black;
    font-weight: bold;
    font-family: Outfit;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
}
#info{
    background: linear-gradient(135deg, #FFF3BC 0%, #E7B131 70%);
    border-radius: 10px;
    color:white;
    padding-top:20vh;
    height: 67vh;
}
#info h3{
    /* margin-top:20vh !important; */
    color: #fff !important;
}
p{
    margin-top: 10% !important;
    font-size: larger !important;    
}
#login h2{
    margin-bottom: 10%;
}
div button{
    background-color: #f1cd6d;
    padding-left:10%;
    padding-right: 10%;
    border: none !important;
    padding-top: 1%;
    padding-bottom: 1%;
    color: white;
    border-radius: 2%;
    margin-top: 2%;
    margin-bottom: 5%;
}
div button:hover{
    transform: scale(1.05);
    transition: all 1s;
}
#login span{
    color:blue;
    font-weight: 500;
}
a{
    /* text-decoration: underline !important; */
    color: #40A2CC !important;
}
a:hover{
    cursor: pointer;
    color: #40A2CC !important;
}
hr{
    width: 50% !important;
    color:black !important;
    font-weight: bold !important;
    margin-left: 25% !important;
    margin-top: 0px !important;
    margin-bottom: 0px;
}
.signin{
    background: linear-gradient(135deg, #E8B131 0%,  #FFF3BC 80%);
    height: 100vh;
}
#userid,#password{
    margin-top:4% !important;
    margin-bottom: 0px !important;
    text-align: center !important;
    border: none !important;
}
#blob{
    height: 110px !important;
    width: 110px !important;
    background-image: url("../components/Blob.png") !important;
    background-size: cover;
    background-color: #E7B131 !important;
    position: relative;
    left:300px;
}
#circles{
    background-image: url('../components/Circle\ pattern.svg');
    height: 100px !important;
    width:100px !important;
    position: relative;
    top:-350px;
}
input{
    border: 2px black !important;
}